.app {
    font-family: Arial, sans-serif;
}
body{
    font-family: Arial, sans-serif;
    font-size: 18px;
}
.heading {
    font-size: 24px;
    font-weight: bold;
}

.paragraph {
    font-size: 16px;
    color: #333;
}
.p{
    font-size: 18px;
}
